<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="../public/styles/ins-home-global.css" />
    <link rel="stylesheet" href="../public/styles/ins-home.css" />
    <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Source Sans 3:wght@400&display=swap"
  />
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Catamaran:wght@700&display=swap"
  />
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Noto Sans:wght@400;700&display=swap"
  />
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Outfit:wght@700&display=swap"
  />

  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
  <link rel="icon" href="./images/favicon.ico">


</head>
<body>
  <div class="sidebar" id="mySidebar">
    <button class="openbtn icon" onclick="myFunction() " >&#9776;</button>
    <b class="watheeq">Watheeq</b>      
    <img class="watheeq-logo-icon" alt="" src="../public/images/watheeq-icon.png" />

   <div class="nav-bttn">
          <a class="create-test" id="createTestText" ><span class="material-symbols-outlined">
            edit_square
            </span>create test</a>  
          <!-- <img class="group-icon" alt="" src="./public/create-test-icon.png" /> -->
          </div>

          <div class="nav-bttn">
          <a class="announcement" id="announcementText"><span class="material-symbols-outlined">
            rule
            </span>Announcement</a>
          <!-- <img class="icon-task-square" alt="" src="./public/grades-icon.png" /> -->
          </div>

          <div class="nav-bttn">
              <a class="log-out" href="/index.html"><span class="material-symbols-outlined">
                logout
                </span>Log out</a>
              <!-- <img class="icon-logout" src="./public/logout-icon.png" alt=""> -->
          </div>
</div>
 
<div class="main" id="myMain">

  <div class="ins-page">
    <div class="test">Test</div>
    <div class="course">Course</div>
    <div class="course-rec"></div>
    <div class="test-rec"></div>
    <div class="status">Status</div>
    <div class="status-rec"></div>
  </div>
  </div>

  <div id="testpageContainer" class="popup-overlay" style="display: none">
    <div class="testpage">

      <form action="/views/editTest.ejs" method="post">
        <b class="create-test1">Create test</b>
  
        <label class="test-name1">Test name:</label>
        <input name="examTitle" class="testname-textbox1" type="text" />
  
        <label class="test-duration">Test duration:</label>
        <input class="start-time-box" type="time" />
        <input class="end-time-box" type="time" />
  
        <label class="test-grade">Test grade:</label>
        <input class="testgrade-box" type="number" />
  
        <label class="description">Description:</label>
        <input class="disc-textbox" type="text" />
  
        <label class="test-date">Test date:</label>
        <input class="testdate-box" type="date" />
  
  
        <label class="randomize-questions">Randomize questions</label>
        <input class="randomq-checkbox" required="{true}" type="checkbox" />
  
        <label class="randomize-answers">Randomize answers</b>
        <input class="randoma-checkbox" required="{true}" type="checkbox" />
  
    
          <button class="next next-button">Next</button>
        
  
      </form>
    </div>
  </div>
  
  <!-- <div id="questionpageContainer" class="popup-overlay" style="display: none">
  <div class="questionpage">
    <b class="question-text">Question text:</b>
    <b class="answers">Answers:</b>
    <b class="question-grade">Question grade:</b>
    <input class="qtext-textbox" type="text" />

    <input class="qgrade" type="number" />

    <input class="a1chekckbox" type="checkbox" defaultchecked="{true}" />

    <input class="a2chekckbox" required="{true}" type="checkbox" />

    <input class="a4chekckbox" required="{true}" type="checkbox" />

    <input class="a3checkbox" required="{true}" type="checkbox" />

    <input class="a1text" type="text" />

    <input class="a2text" type="text" />

    <input class="a4text" type="text" />

    <input class="a3text" type="text" />

    <a class="nextbutton">
      <b class="next1">Next</b>
    </a>
    <button
      class="savebutton"
      autofocus="{true}"
      disabled="{false}"
      id="popupsavebutton"
    >
      <b class="save">Save</b>
    </button>
  </div>
  </div> -->

  <div
    id="annouencementpageContainer"
    class="popup-overlay"
    style="display: none"
  >
    <div class="annouencementpage">
      <b class="test-name" name="TestName">Test name:</b>
      <b class="post-an-announcement">Post an announcement</b>
      <b class="date" name="TestDate">Date:</b>
      <div class="completed">Completed</div>
      <div class="upcoming">Upcoming</div>
      <input class="completed-checkbox" type="checkbox" />

      <input class="upcoming-checkbox" required="{false}" type="checkbox" />

      <input class="testname-textbox" name="test-name" type="text" />

      <input class="date-box" type="datetime-local" />

      <button
      class="post"
      autofocus="{true}"
      disabled="{false}"> Post </button>
     
    </button>
    </div>
  </div>

  <script src="../public/scripts/ins-home.js"></script>
  <script>
    window.watsonAssistantChatOptions = {
      integrationID: "ba61ac50-b209-44b3-a58c-8a1f27f96afb", // The ID of this integration.
      region: "eu-de", // The region your integration is hosted in.
      serviceInstanceID: "0f987110-4a4b-45e3-b66a-441d97354c96", // The ID of your service instance.
      onLoad: async (instance) => { await instance.render(); }
    };
    setTimeout(function(){
      const t=document.createElement('script');
      t.src="https://web-chat.global.assistant.watson.appdomain.cloud/versions/" + (window.watsonAssistantChatOptions.clientVersion || 'latest') + "/WatsonAssistantChatEntry.js";
      document.head.appendChild(t);
    });
  </script>
  
</body>
</html>