<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="../public/styles/s-exam-global.css" />
    <link rel="stylesheet" href="../public/styles/s-exam.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Source Sans 3:wght@400&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Outfit:wght@700&display=swap" />

    <link rel="icon" href="./images/favicon.ico">

  </head>
  <body>
    <div class="s-exam-emtenan">
      <div class="questions">
        <div class="q1">
          <form action="/submit" method="post">
            <!-- Your form content goes here -->
            <label for="op4" class="outscreen">Out.screen</label>
            <label for="op3" class="systemout">system.out</label>
            <label for="op2" class="systemoutprint">system.out.print</label>
            <label for="op1" class="print">Print</label>
            <input id="op4" class="option-4"value="outscreen" required="{false}" autofocus="{true}" type="radio" />
            <input id="op3" class="option-3" value="systemout"required="{false}" autofocus="{true}" type="radio" />
            <input id="op2" class="option-2" value="systemoutprint"required="{false}" autofocus="{true}" type="radio" />
            <input id="op1" class="option-1" value="print"required="{false}" autofocus="{true}" type="radio"  />
            <div class="what-is-the">What is the printing statement in java:</div>
            <div class="q1-item"></div>
            <div class="points">2 points</div>
            <div class="point-box"></div>
            <div class="question-1">Question1</div>
            <button class="save-button" autofocus="{true}" form>Save</button>
            <input class="submit-button" type="submit">
          </form>
        </div>
      </div>
      <div class="quize-outlines">
        <div class="time-line"></div>
        <div class="quize-outlines-child"></div>
        <div class="csc311-quiz-1-container">
          <p class="csc311">CSC311</p>
          <p class="quiz-1">Quiz1</p>
        </div>
        <div class="div">00:10:39</div>
      </div>
      <div class="save-submit-group">
        <div class="save-submit-rectangle"></div>
      </div>
    </div>
  </body>
</html>
